DEBUG=True
SECRET_KEY=tu_secret_key_aqui
DATABASE_URL=postgres://postgres:admin1234@db:5432/mercadoshop
ALLOWED_HOSTS=localhost,127.0.0.1,db,app
POSTGRES_DB=mercadoshop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin1234
